.cropper-preview, .picture-preview {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

/* Fixes for Orchid 10 */
/* .table-striped>tbody>tr>td {
  color: black;
} */

.select2-container--bootstrap .select2-dropdown {
    border-color: rgba(28,43,54,.1);
    outline: 0!important;
    box-shadow: none;
    z-index: 1200;
}

/* Fixes end */

@media print {
  body * {
    visibility: hidden;
  }

  #print-report, #print-report * {
    visibility: visible;
  }

  #print-report {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    box-shadow: none;
    border: 1 solid black;
    font-size: 1.1em;
  }

  #print-hide {
    visibility: hidden;
  }

  .p-table-black, .p-table-black thead, .p-table-black tbody, .p-table-black tfoot, .p-table-black th, .p-table-black td, .p-table-black tr {
    border: 1px solid #333 !important;
    color: #333 !important;
  }

  table.p-table-black>thead>tr>th {
    border: 1px solid #333 !important;
    color: #333;
    text-align: center !important;
  }

  table.p-table-black td, table.p-table-black th {
    padding: 3px !important;
  }

  table.p-table-black {
    font-size: 1em;
    width: 100%;
    max-width: 2480px;
  }
}

.b-b {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.table-black, .table-black th , .table-black td, .table-black tr {
  border: 1px solid #333 !important;
}

.table-black>thead>tr>th {
  border: 1px solid #333 !important;
  color: #333;
}

.row > .aside {
  background: #111428;
  background: -webkit-linear-gradient(to bottom, #004e92, #004e92, #1c2453) !important;
  background: linear-gradient(to bottom, #004e92,#004e92, #1c2453) !important; 
}

.row .aside nav a {
  color: white;
}

.row .aside nav .dropdown-menu a {
  color: #111;
}

.row .aside nav .active a, .row .aside nav a.active, .row .aside nav li a:hover, .row .aside nav .sub-menu a:hover {
  background-color: #111428 !important;
}

.row .aside nav .text-muted {
  color: #dfdfdf !important;
}

.new-report td, .new-report p, .new-report ol li {
  font-size: 1.2em;
}