.cropper-preview, .picture-preview {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

@media print {
  /* @page {
    size: landscape;
  } */

  body * {
    visibility: hidden;
  }

  #print-report, #print-report * {
    visibility: visible;
  }

  #print-report {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    box-shadow: none;
    border: 1 solid black;
    font-size: 1.3em;
  }

  #print-hide {
    visibility: hidden;
  }

  .p-table-black, .p-table-black thead, .p-table-black tbody, .p-table-black tfoot, .p-table-black th, .p-table-black td, .p-table-black tr {
    border: 1px solid #333 !important;
    color: #333 !important;
  }

  table.p-table-black>thead>tr>th {
    border: 1px solid #333 !important;
    color: #333;
    text-align: center !important;
  }

  table.p-table-black td, table.p-table-black th {
    padding: 3px !important;
  }

  table.p-table-black {
    font-size: 1em;
    width: 100%;
    max-width: 2480px;
  }
}

.b-b {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.table-black, .table-black th , .table-black td, .table-black tr {
  border: 1px solid #333 !important;
}

.table-black>thead>tr>th {
  border: 1px solid #333 !important;
  color: #333;
}